# Unreal build files and cache
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# VS and Rider files
.vscode/
.idea/
*.sln
*.suo
*.user
*.VC.db
*.VC.opendb

# Log files
*.log

# Config local overrides
Config/DefaultEditor.ini
Config/DefaultEditorPerProjectUserSettings.ini

# Mac files
.DS_Store

# Windows thumbnail cache
Thumbs.db
